{% extends "bases/bootstrap-visitor.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <!-- <div class="jumbotron text-center" 
  <div style="background-imag:url(static/images/base/logo.png)"></div>
  -->

  <div class="row"
       style="height:400px;background:transparent url(static/images/base/logo.png) no-repeat center center /contain">
    <div class="col-lg-12">
      <div class="intro-text">
	<span class="name"></span>
	<hr class="star-light">
	<span class="skills"></span>
      </div>
    </div>
  </div>

  
<div class="row">
   <div class="col-10 offset-col-1"> 
    {% if redirect_url %}
      <a class="btn btn-primary btn-lg button-center" href="{{redirect_url}}" role="button"> Continuar Navegando </a> 
    {% else %}
      <a class="btn btn-primary btn-lg button-center" href="http://google.com" role="button"> Empezar a navegar </a> 
    {% endif %}
   </div>
</div>

 
</div>

{% endblock %}
