{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">

  <h5> Condiciones de servicio para la conexión a la red de visitantes del Servicentro Barradas </h5>
  <br>
  1. Condiciones generales <br>
  Por la presente el Servicentro Barradas le informa que las presentes condiciones de uso de los servicios de acceso sin cable tienen como finalidad regular su utilización y determinar las condiciones de acceso a los contenidos y servicios que se ponen a disposición del usuario.
 <br> El acceso sin cable no tiene coste para los usuarios y se da dentro de las instalaciones del Servicentro Barradas, por tanto en régimen de auto prestación, siendo el operador de red de comunicaciones competente quien presta el servicio de comunicaciones electrónicas y acceso a internet que usted está utilizando.
 <br> El usuario, al acceder al portal y utilizar el acceso sin cable, acepta las presentes condiciones, que podrán ser modificadas, total o parcialmente, por el Servicentro Barradas sin previo aviso y en cualquier momento, por lo cual recomendamos que revise periódicamente estas condiciones.
 <br> El Servicentro Barradas se reserva el derecho de suspender el uso de este servicio, por cualquier motivo y sin previo aviso. Después de tal suspensión, todos los derechos que correspondan por este punto de acceso terminarán.
 <br> El Servicentro Barradas dispone de un ancho de banda determinado para el acceso a internet, y la velocidad de acceso y la fiabilidad del servicio pueden variar dependiendo de diversos factores. Así pues, el Servicentro Barradas no garantiza el acceso a internet en todo momento, ni de forma continua, segura o libre de problemas. Asimismo, no se responsabiliza si el acceso es inestable, inseguro, lento o no está disponible. El Servicentro Barradas declina cualquier responsabilidad que de todo ello pudiera derivar.
  <br>La conexión a la red sin cable del Servicentro Barradas se realiza con el usuario y contraseña generado por cada usuario.
  <br>El Servicentro Barradas ofrece el servicio de conexión a la red de visitantes con dispositivos inalámbricos mediante sus puntos de acceso con el SSID ServicentroBarradas y con autenticación vía portal cautivo. El uso de este servicio no tiene ningún coste asociado para el usuario, pero implica el cumplimiento de sus estas condiciones de servicio y de la política de uso.
  <br>Queda expresamente prohibida la utilización del servicio a aquellos usuarios que no sean visitantes del Servicentro Barradas bajo la responsabilidad de algún empleado del Servicentro Barradas.
  <br>Con carácter enunciativo y no limitativo no se permiten contenidos que incluyan: material que infrinja derechos de autor no autorizados o que infrinjan cualquier otro derecho de propiedad intelectual o industrial, material que haga apología al terrorismo, racismo u otras conductas ilegales, material pornográfico, material amenazador, difamatorio o que incite a la violencia.<br><br>
  2. Obligaciones de los usuarios
  <br>El usuario se compromete a utilizar el servicio de acceso sin cable de forma diligente y correcta y se compromete a no utilizarlo para la realización de actividades contrarias a la ley, la moral, a las buenas costumbres aceptadas y/o con finalidades y/o efectos ilícitos, prohibidos o lesivos de derechos e intereses de terceros, así como a no realizar ningún tipo de uso que de cualquier forma pueda inutilizar, producir daños, sobrecargar, deteriorar o impedir la normal utilización del servicio, los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático accesible a través de internet. El Servicentro Barradas declina cualquier responsabilidad que de todo aquello se pueda derivar con toda la extensión que permita el ordenamiento jurídico.
 <br> El usuario debe notificar inmediatamente al Servicentro Barradas cualquier uso no autorizado del servicio o cualquier violación de la seguridad. El Servicentro Barradas asignará una dirección IP para cada acceso, que puede variar.
  <br>En ningún caso el usuario podrá configurar ninguna otra dirección IP o MAC al dispositivo conectado al punto de acceso ni podrá utilizar el servicio por cualquier otra razón, incluida la reventa de cualquier aspecto del servicio.
  <br>A título enunciativo pero no limitativo, el usuario se compromete a no utilizar, transmitir, difundir o realizar:

<br><br>
  - intentar romper la seguridad, el acceso, interferir en/o utilizar cualquier área no autorizada del servicio;
 <br> - eliminar cualquier derecho de autor, marca registrada u otros derechos de propiedad contenida en o sobre el servicio;
 <br> - intentar cobrar o mantener cualquier información sobre los otros usuarios del servicio (incluyendo nombres de usuario y/o direcciones de correo electrónico) para fines no autorizados;  
 <br> - iniciar sesión en el servicio bajo falsas pretensiones o fraudulentas;  
 <br> - crear o transmitir comunicaciones electrónicas no deseadas como SPAM o cartas en  cadena a otros usuarios o interferir con otros usuarios que disfruten del servicio;  
 <br> - transmitir cualquier tipo de virus, gusanos, defectos, troyanos u otros elementos de naturaleza destructiva; o utilizar el servicio para cualquier propósito fraudulento, acosador, abusivo, criminal o ilegal.  
 <br>- realizar un uso fraudulento de la dirección IP proporcionada en cada acceso.  
  <br>- cualquier otra forma que sea contraria, menosprecie o atente contra los derechos fundamentales y las libertades públicas reconocidas en las Leyes, Constitución y Tratados Internacionales.  
  <br><br>
   3. Las responsabilidades del usuario <br> El usuario acepta y comprende que el acceso y uso del servicio es bajo su responsabilidad. El Servicentro Barradas no asume ninguna responsabilidad respecto de los usos que se hagan de este servicio, ni de los datos o información transferidos desde internet.  El Servicentro Barradas no controla y no se hace responsable de los datos, contenidos, servicios o productos a los cuales se acceden o se descargan a través de este servicio. El Servicentro Barradas puede bloquear las transmisiones para proteger a otros usuarios.  <br>El usuario entiende que el servicio, que utiliza tecnologías sin cable, no es intrínsecamente seguro, puesto que las comunicaciones sin cable pueden ser interceptadas por tecnologías diseñadas y destinadas a este fin. A pesar de que el Servicentro Barradas garantiza los esfuerzos razonables con tal de proporcionar un servicio seguro, no se garantiza la eficacia de éstos. <br>El Servicentro Barradas no se hará responsable ante usted o cualquier otra persona de cualquier falta de seguridad que pueda resultar del uso del servicio.  El usuario acepta que es responsable de proporcionar las medidas de seguridad adecuadas para el uso previsto del servicio. Por ejemplo, deberá asumir toda la responsabilidad de tomar medidas adecuadas para proteger sus datos frente su pérdida. Además, a parte de la tecnología proporcionada por el Servicentro Barradas, el usuario debe proporcionar todo el equipo, la tecnología y el software para utilizar el servicio.  
<br><br>
  4. Exclusión de garantías. Limitación de responsabilidad
  <br>El Servicentro Barradas no asume ninguna responsabilidad respecto de los usos que se hagan de este servicio, ni de los datos o informaciones transferidas. Se excluye cualquier tipo de garantía o responsabilidad por la utilización del portal, de los servicios y de los contenidos.
  <br>A título enunciativo, pero no limitativo, la exoneración de responsabilidades del Servicentro Barradas comprende cualquier responsabilidad derivada de:
  <br>La precisión, contenido, integridad, legalidad, fiabilidad, operatividad o disponibilidad de la información o material que se muestra en o accesible a través del servicio.
  <br>La eliminación, falta de almacenamiento, entrega errónea, o la entrega inoportuna de cualquier información o material.
  <br>Cualquier daño resultante de descargar o acceder a cualquier información o material de internet a través del servicio.
  <br>La ausencia de disponibilidad y continuidad del funcionamiento del servicio de acceso, la interrupción, suspensión o cancelación del acceso.
  <br>La información transmitida por los usuarios a través del canal suministrado por este servicio de acceso.
  <br>Los daños y perjuicios de cualquier naturaleza derivados del uso indebido de este servicio.
  <br>La realización, por parte de los usuarios, de accesos no autorizados a lugares protegidos de internet.
  <br>La falta de servicio, lentitud del acceso.
  <br>Los daños y perjuicios de cualquier naturaleza que se produzcan por el conocimiento que puedan tener los terceros del uso de internet que pueda hacer el usuario, y, en su caso, a la intercepción, eliminación, alteración, modificación o manipulación, de cualquier contenido y comunicación que los usuarios transmitan, difundan, almacenen, pongan a disposición, reciban u obtengan a través del servicio.
  <br><br>5. Indemnizaciones
  <br>El usuario acepta mantener indemne e indemnizar al Servicentro Barradas, sus proveedores y agentes de y contra cualquier reclamación de un tercero que surja de o en cualquier manera relacionada con su uso del servicio, incluyendo la responsabilidad o gasto ocasionado por las reclamaciones, pérdidas, daños (reales o resultantes), litigios, resoluciones, costes procesales y honorarios de abogados, de cualquier tipo y naturaleza.
<br><br>6. Legislación aplicable
  <br>El presente Aviso Legal se rige en todos y cada uno de sus extremos por la legislación vigente. 
  
</div>

{% endblock %}
