{% extends "bases/bootstrap-jquery.html" %}
{% load staticfiles %}

{% block nav %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-static-top navbar-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img class="brand-image" alt="Numeral" src="{% static "images/base/logo.png" %}">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user_home' %}">Home</a></li>
            <li><a href="{% url 'user_action' %}">Action</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <strong> {{ user.display_name }}</strong> <b class="caret"></b>
              </a>
              <!-- <ul class="dropdown-menu">
                <li class="dropdown-header">Account</li>
                <li><a href="{% url 'account_profile' %}"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{% url 'account_email' %}"><i class="fa fa-envelope"></i> Email Addresses</a></li>
                <li><a href="{% url 'socialaccount_connections' %}"><i class="fa fa-facebook"></i> Social Networks</a></li>
                <li><a href="{% url 'account_change_password' %}"><i class="fa fa-lock"></i> Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
              </ul> -->
            </li>
            <li>{% if user.profile.avatar_url %}<img alt="" style="width:50px; height:50px" src="{{user.profile.avatar_url}}">{% endif %}</li>

          </ul>
        </div>
      </div>
    </div>

{% endblock %}
