{% extends "bases/bootstrap-jquery.html" %}
{% load staticfiles %}

{% block nav %}
    <div class="navbar navbar-inverse navbar-static-top navbar-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img class="brand-image" alt="Numeral" src="{% static "images/base/logo.png" %}">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'landing_index' %}"><strong>Inicio</strong></a></li>
            <li><a href="{% url 'account_signup' %}"><strong>Registrarse</strong></a></li>
            <li><a href="{% url 'account_login' %}"><strong>Ingresar</strong></a></li>
          </ul> -->
        </div>
      </div>
    </div>
{% endblock %}
